:root {
    --main-color: #4d9b31;
    --shadow: #33711c;
    --highlight: #52b030; 
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: row;
    overflow: auto;
    max-width: 100vw;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
    color: var(--main-color);
    font-family: "Courier New", Courier, monospace;
    letter-spacing: .15em;
    text-shadow: 0 0 5px var(--shadow);
    transform: scale(1,0.7); 
    cursor: crosshair;
}

body::after {
    content: "";
    position: relative; 
    top: 5%; 
    left: 0;
    max-width: 100vw; 
    max-height: min-content; 
    background: repeating-linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0.15), 
        rgba(0, 0, 0, 0.15) 1px, 
        transparent 1px, 
        transparent 2px
    );
    pointer-events: none;
}

section {
    border: solid var(--main-color);
}

.italicized {
    font-style: italic;
    font-weight: normal;
}

h1 {
    font-size: 2em;
    border-right: .15em solid var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--shadow)); 
    margin-top: 35vh;
    background-size: 0% 10px;
    background-position: 0 100%; 
    background-repeat: no-repeat;
    animation: blink-cursor .75s step-end infinite;
}

.container {
    width: 75vw;
    height: min-content;
    position: relative;
    padding: 10vh 0;
}

.main-content {
    display: grid;
    position: relative;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    grid-auto-rows: min-content;
    line-height: 1.75;
}

h2 {
    border: thick double var(--main-color);
    text-align: center;
    font-size: 1.25em;
    padding: 10px;
}

.contact {
    grid-column: 1 / 4;
    grid-row: 2;
}

h3 {
    margin-top: 0;
    background: var(--main-color);
    color: black;
    padding-left: 1%;
}

p {
    padding-left: 2%;
}

ul.no-bullets {
    list-style-type: none;
}

ul.with-bullets {
    list-style-type: square;
}

a {
    color: var(--main-color);
    padding: 5px;
    text-decoration-line: none;
}

a:visited {
    color: var(--main-color);
}

a:hover {
    background: var(--main-color);
    color: black;
}

.mouse-move-effect {
    position: fixed; 
    top: 0; 
    left: 0; 
    opacity: 0.15;
    box-shadow: 0 0 900px 300px var(--main-color);
    border-radius: 55%;
}

.muthur {
    width: 100%;
    height: 100%;
    object-fit: fill; 
}

@keyframes blink-cursor {
    from, to {border-color: transparent}
    50% {border-color:var(--main-color)}
}

@keyframes underline-text {
    from {}
    to {background-size: 100% 4px; background-image: linear-gradient(var(--main-color), var(--shadow))}
}

.ucf-logo {
    filter: invert(51%) sepia(71%) saturate(423%) hue-rotate(59deg) brightness(88%) contrast(91%);
    top: 50%;
    width: auto;
    height: auto;
}

.popup {
    position: absolute;
    display: none;
    background-color: black; 
    border: 5px ridge var(--main-color);
    width: 80vw;
    min-width: min-content;
    padding: 10px 10px 20px; 
    top: 20%;
    left: -5%;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding-bottom: 10px;
}

.popup-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid var(--main-color);
}

.resume {
    color: inherit; 
    text-decoration: none;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
}

.hidden-text {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5px;
}

#easter-egg {
    font-size: 1em;
    color: black;
    text-shadow: none;

}

#wy-logo {
    width: 50px;
    height: 50px;
}
