* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    font-weight: bold; 
    background-color: rgb(23, 26, 26);
}

html {
    color: white;
    line-height: 30px;
}

div {
    text-align: center;
}

section {
    padding-top: 100px; 
}

h1 {
    font-size: 48px;
}

.heading {
    font-size:32px;
    color: rgb(150, 197, 227); 
}

ul {
    list-style: none;
    padding: 0; 
}

nav {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px; 
    top: 0;
    position: fixed; 
    width: 100%;
    margin: 0 auto;
    z-index: 100; 
    display: block;
    margin-block-end: 1em;
}

li {
    display: inline-block;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: rgb(150, 197, 227); 
}

a:hover {
    color: rgb(116, 101, 212);
}

.intro {
    height: 600px; 
    vertical-align: middle;
    margin: 0 auto; 
    position: relative;
    padding-top: 200px; 
}



.home {
    height: 500px;
}

button {
    border-radius: 25px; 
    background: rgb(150, 197, 227); 
    border: none;
    padding: 10px 20px;
}

button:hover {
    background: rgb(150, 197, 227, 0.10);
    color: rgb(150, 197, 227);
    border: solid;
    border-width: 2px; 
    border-color:rgb(150, 197, 227)
}

i {
    font-size: 30px; 
    background: transparent;
}
